.sb-container {
	position: relative;
	width: 150px;
	height: 400px;
	margin: 30px auto 0 auto;
	z-index:21;
}

.sb-container div a{display: block;width: 100%;height: 100%;}

.sb-container div {
    position: absolute;
	top: 0;
	left: 0; 
	width: 130px;
	background: #fff;
	height: 400px;
	border-radius: 5px;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1);
	text-align: center;
		
	-webkit-transform-origin: 25% 90%;
	-moz-transform-origin: 25% 90%;
	-o-transform-origin: 25% 90%;
	-ms-transform-origin: 25% 90%;
	transform-origin: 25% 90%;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index:20;
	
	box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.1), inset 0 3px 0 rgba(255, 255, 255, 0.2);
}

.sb-container div:nth-child(1){
	background-color: #ea2a29;

}

.sb-container div:nth-child(2){
	background-color: #f16729;
}

.sb-container div:nth-child(3){
	background-color: #f89322;
}

.sb-container div:nth-child(4){
	background-color: #ffcf14;
}

.sb-container div:nth-child(5){
	background-color: #ffea0d;
}

.sb-container div:nth-child(6){
	background-color: #87b11d;
}

.sb-container div:nth-child(7){
	background-color: #008253;
}

.sb-container div:nth-child(8){
	background-color: #3277b5;
}

.sb-container div:nth-child(9){
	background-color: #4c549f;
}

.sb-container div:nth-child(10){
	background-color: #764394}

.sb-container div:nth-child(11){
	background-color: #ca0d86;
}

.sb-container div:last-child{
	background: #111 url(../images/dark_leather.jpg) repeat center center;
	box-shadow: 
		-1px -1px 3px rgba(0,0,0,0.2),
		12px 12px 20px rgba(0,0,0,0.6),
		inset 2px 2px 0 rgba(255, 255, 255, 0.1);
}



